* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    background: rgb(255, 255, 255);
}

.chat-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 75px;
    padding: 16px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.prof-img {
    background-image: url('./assets/prof.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.prof-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prof-content p:nth-child(1) {font-weight: bold; font-size: 16px;}
.prof-content p:nth-child(2) {color: #737373; font-size: 12px;}

main {padding-top : 10px; width : 100%; height : 100%;}
ul.chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width : 100%;
    height: 90%;
    list-style: none;
}

.chat li {
    display: inline-block;
    min-width: 30px;
    min-height: 40px;
    max-width: 311px;
    max-height: 311px;
    padding: 7px 12px;
    border-radius: 18px;
    background: #EFEFEF;
    margin: 5px 16px;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-all;
    align-self: flex-start;
}

.chat li.me {
    background : #3797F0;
    color: #fff;
}

/*
  #chat-messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
  }
  #chat-messages li.user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-start;
  }
  #chat-messages li.other-message {
    background-color: #e9e9eb;
    align-self: flex-start;
  }
  #chat-form {
    display: flex;
    border-top: 1px solid #ccc;
  }
  #message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #message-input:focus {
    outline: none;
  }
  #send-button {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
  #send-button:hover {
    background-color: #0056b3;
  } */