@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    background: #fafafa;
    position: relative;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.chat-header {
    display: flex;
    align-items: center; 
    padding: 10px 18px;
    background-color: #fff; 
    border-bottom: 1px solid #ddd;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}

.prof-img {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-image: url('./assets/prof.jpg');
    background-size: cover;
    background-position: center;
}

.prof-img::before {
    content: '';
    position: absolute;
    top: -2px; 
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
    background: linear-gradient(135deg,#833ab4,#fd1d1d,#fcb045);
    z-index: -1;
}

.prof-content p {
    margin-left: 14px;
    line-height: 1.2;
}

.prof-content p:first-child {
    font-weight: bold;
    font-size: 16px;
}

.prof-content p:last-child {
    color: #999;
    font-size: 12px;
}

main {
    padding-top : 10px; 
    width : 100%; 
    height : 100%; 
}

ul.chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width : 100%;
    height: 90%;
    list-style: none;
    scrollbar-width: none;
    padding-top: 60px;
}

ul.chat::-webkit-scrollbar {
    display: none;
}

.chat li {
    display: flex;
    align-items: center;
    align-self: flex-start;
    min-width: 30px;
    max-width: 311px;
    height: auto;
    margin: 5px 16px;
    padding: 7px 12px;
    border-radius: 18px;
    background: #EFEFEF;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    white-space: pre-wrap;
    flex-shrink: 0;
}

.chat li.me {
    background: #5a13df;
    color: #fff;
    align-self: flex-end;
}

.li-img {
    background-color : transparent !important;
    padding: 0 !important;
}

.chat li img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px; 
    border-radius: 10px;
    padding: 0;
}

.chat-form {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-inp {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.inp {
    flex: 1; 
    padding: 10px 15px; 
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px; 
    outline: none; 
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.inp:focus {
    background-color: #fff;
}

.image-upload {
    position: relative; 
    margin-right: 10px; 
    cursor: pointer;
}

.image-upload input[type="file"] {
    display: none;
}

.upload-icon {
    width: 25px; 
    height: 25px;
    background-image: url('./assets/upload.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-image 0.3s;
}

.upload-icon.selected {
    background: #6316f3 url('./assets/upload-select.png') no-repeat center center; /* 선택 시 배경색과 이미지 설정 */
    background-size: cover;
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #5a13df;
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.send .send-img {
    width: 20px;
    height: 20px;
    background-image: url('./assets/send.png');
    background-size: cover;
    background-position: center;
}

.send:hover {
    background-color: #6316f3; 
}